In [220]:
import pandas as pd
import math

In [221]:
# df = pd.read_csv('hw1_dataset2.csv')
df = pd.read_csv('ps_example.csv')

df

   Weather  Parents  Money  prediction
0        0        1      1           0
1        0        0      1           1
2        1        1      1           0
3        2        1      0           0
4        2        0      1           2
5        2        1      0           0
6        1        0      0           0
7        1        0      1           3
8        1        1      1           0
9        0        0      1           1

In [222]:
num_per_class = df['prediction'].value_counts()

num_per_class

0    6
1    2
2    1
3    1
Name: prediction, dtype: int64

In [223]:
classes = df['prediction'].unique()

classes

array([0, 1, 2, 3], dtype=int64)

### Majority Rule Accuracy

In [224]:
num_per_class

0    6
1    2
2    1
3    1
Name: prediction, dtype: int64

In [225]:
print(f'Majority Rule Accuracy: {num_per_class.max() / num_per_class.sum()}')

Majority Rule Accuracy: 0.6

### ID3

Figure the attribute with maximal Info. Gain

In [237]:

# Calculate the entropy
def calc_entropy(target_distr=num_per_class):
    result = 0
    total_ammount = target_distr.sum()
    
    string = ''
    
    for count in target_distr:
        p = count/total_ammount
        result -= p*math.log2(p)
        string += f' - {p}*log2({p})'
        
    print(f'entropy: {string} = {result}')
        
    return result

In [238]:
entropy = calc_entropy()

entropy

entropy:  - 0.6*log2(0.6) - 0.2*log2(0.2) - 0.1*log2(0.1) - 0.1*log2(0.1) = 1.5709505944546687

1.5709505944546687

In [230]:
# Calculate information
def calc_info(col_name, x, data_frame=df):
    result = 0
    string = ''
        
    for c in classes:
        p_class_given_x = data_frame[(data_frame['prediction']==c) & (data_frame[col_name]==x)].shape[0] / data_frame[data_frame[col_name]==x].shape[0]
        
        if p_class_given_x != 0:
            result -= p_class_given_x*math.log2(p_class_given_x)
            string += f' - {p_class_given_x:.3f}*log2({p_class_given_x:.3f}))'
    print(f'{string}')                    
    print(f'Info D_{x} = {result}')
    
    return result

In [231]:
calc_info('Weather', 0)

 - 0.333*log2(0.333)) - 0.667*log2(0.667))
Info D_0 = 0.9182958340544896

0.9182958340544896

In [243]:
# Calculate information gain
def calc_gain(entropy, col_name, data_frame=df):
    result = entropy
    vals = data_frame[col_name].unique()
    string = f'{entropy:.3f}'
    
    for val in vals:
        info = calc_info(col_name, val, data_frame)
        result -= data_frame[data_frame[col_name]==val].shape[0] / data_frame.shape[0] * info
        string += f'- {data_frame[data_frame[col_name]==val].shape[0]} / {data_frame.shape[0]} * {info:.3f}'
        
    print(string)
    print(f'Gain({col_name}) = {result}')
    
    return result

In [244]:
def find_opt_attr(data_frame=df):
    entropy = calc_entropy(data_frame['prediction'].value_counts())
    
    features = data_frame.columns[:-1]
    opt_col = ''
    opt_gain = 0
    
    for col in features:
        print('\n')
        gain = calc_gain(entropy, col, data_frame)
        
        if gain > opt_gain:
            opt_gain = gain
            opt_col = col
            
    print(f'best feature for split is {opt_col}\n\n')
    
    return opt_col

In [245]:
find_opt_attr()

entropy:  - 0.6*log2(0.6) - 0.2*log2(0.2) - 0.1*log2(0.1) - 0.1*log2(0.1) = 1.5709505944546687


 - 0.333*log2(0.333)) - 0.667*log2(0.667))
Info D_0 = 0.9182958340544896
 - 0.750*log2(0.750)) - 0.250*log2(0.250))
Info D_1 = 0.8112781244591328
 - 0.667*log2(0.667)) - 0.333*log2(0.333))
Info D_2 = 0.9182958340544896
1.571- 3 / 10 * 0.918- 4 / 10 * 0.811- 3 / 10 * 0.918
Gain(Weather) = 0.695461844238322


 - 1.000*log2(1.000))
Info D_1 = 0.0
 - 0.200*log2(0.200)) - 0.400*log2(0.400)) - 0.200*log2(0.200)) - 0.200*log2(0.200))
Info D_0 = 1.9219280948873623
1.571- 5 / 10 * 0.000- 5 / 10 * 1.922
Gain(Parents) = 0.6099865470109875


 - 0.429*log2(0.429)) - 0.286*log2(0.286)) - 0.143*log2(0.143)) - 0.143*log2(0.143))
Info D_1 = 1.8423709931771088
 - 1.000*log2(1.000))
Info D_0 = 0.0
1.571- 7 / 10 * 1.842- 3 / 10 * 0.000
Gain(Money) = 0.2812908992306926
best feature for split is Weather

'Weather'

Define the tree class

In [174]:
class Tree:
    
    def __init__(self, max_depth=2, data_frame=df):
        self.max_depth = max_depth
        self.childs = []
        self.feature = 'root'
        self.pred = ''
        self.data_frame = data_frame
        
    def build_tree(self, data, depth=2):

        if depth == 0:
            print('ok')
            return None
        
        if len(df['prediction'].unique()) == 1:
            pred = df['prediction'][0]
            return None
        
        # if there are no attribute left
        if data.shape[1] == 1:
            pred = data['prediction'].value_counts().idxmax()
            return None
        
        opt_feature = find_opt_attr(data)
        attributes = data[opt_feature].unique()
        
        for attr in attributes:
            tree = Tree()
            tree.feature = opt_feature
            tree.pred = attr
            data = data[data[opt_feature]==attr]
            data.drop(opt_feature, axis=1, inplace=True)
            tree.build_tree(data.copy(deep=True), depth - 1)
            
            self.childs.append(tree)
    
    def print_tree(self):
        print(f'node feature {self.feature}, pred -> {self.pred}')
        
        for child in self.childs:
            child.print_tree()

In [175]:
decision_tree = Tree()

decision_tree.print_tree()

node feature root, pred ->

In [195]:
df

   Weather  Parents  Money  prediction
0        0        1      1           0
1        0        0      1           1
2        1        1      1           0
3        2        1      0           0
4        2        0      1           2
5        2        1      0           0
6        1        0      0           0
7        1        0      1           3
8        1        1      1           0
9        0        0      1           1

In [247]:
find_opt_attr(df)

entropy:  - 0.6*log2(0.6) - 0.2*log2(0.2) - 0.1*log2(0.1) - 0.1*log2(0.1) = 1.5709505944546687


 - 0.333*log2(0.333)) - 0.667*log2(0.667))
Info D_0 = 0.9182958340544896
 - 0.750*log2(0.750)) - 0.250*log2(0.250))
Info D_1 = 0.8112781244591328
 - 0.667*log2(0.667)) - 0.333*log2(0.333))
Info D_2 = 0.9182958340544896
1.571- 3 / 10 * 0.918- 4 / 10 * 0.811- 3 / 10 * 0.918
Gain(Weather) = 0.695461844238322


 - 1.000*log2(1.000))
Info D_1 = 0.0
 - 0.200*log2(0.200)) - 0.400*log2(0.400)) - 0.200*log2(0.200)) - 0.200*log2(0.200))
Info D_0 = 1.9219280948873623
1.571- 5 / 10 * 0.000- 5 / 10 * 1.922
Gain(Parents) = 0.6099865470109875


 - 0.429*log2(0.429)) - 0.286*log2(0.286)) - 0.143*log2(0.143)) - 0.143*log2(0.143))
Info D_1 = 1.8423709931771088
 - 1.000*log2(1.000))
Info D_0 = 0.0
1.571- 7 / 10 * 1.842- 3 / 10 * 0.000
Gain(Money) = 0.2812908992306926
best feature for split is Weather

'Weather'

In [201]:
attributes = df['Weather'].unique()

for attr in attributes:
    print(f'\n note of attr {attr}')
    data = df.copy(deep=True)
    data = data[data['Weather']==attr]
    print(data)
    data = data.drop('Weather', axis=1)
    find_opt_attr(data)

 note of attr 0
   Weather  Parents  Money  prediction
0        0        1      1           0
1        0        0      1           1
9        0        0      1           1
1 / 1
result -= 1.0*log2(1.0)   [0.0]
0 / 1
0 / 1
0 / 1
Info D_1 = 0.0
0 / 2
2 / 2
result -= 1.0*log2(1.0)   [0.0]
0 / 2
0 / 2
Info D_0 = 0.0
Gain(Parents) = 0.9182958340544896
1 / 3
result -= 0.3333333333333333*log2(0.3333333333333333)   [-1.5849625007211563]
2 / 3
result -= 0.6666666666666666*log2(0.6666666666666666)   [-0.5849625007211563]
0 / 3
0 / 3
Info D_1 = 0.9182958340544896
Gain(Money) = 0.0
best feature for split is Parents



 note of attr 1
   Weather  Parents  Money  prediction
2        1        1      1           0
6        1        0      0           0
7        1        0      1           3
8        1        1      1           0
2 / 2
result -= 1.0*log2(1.0)   [0.0]
0 / 2
0 / 2
0 / 2
Info D_1 = 0.0
1 / 2
result -= 0.5*log2(0.5)   [-1.0]
0 / 2
0 / 2
1 / 2
result -= 0.5*log2(0.5)   [-1.0]
Info D_0 = 1.0
Gain(Parents) = 0.31127812445913283
2 / 3
result -= 0.6666666666666666*log2(0.6666666666666666)   [-0.5849625007211563]
0 / 3
0 / 3
1 / 3
result -= 0.3333333333333333*log2(0.3333333333333333)   [-1.5849625007211563]
Info D_1 = 0.9182958340544896
1 / 1
result -= 1.0*log2(1.0)   [0.0]
0 / 1
0 / 1
0 / 1
Info D_0 = 0.0
Gain(Money) = 0.12255624891826566
best feature for split is Parents



 note of attr 2
   Weather  Parents  Money  prediction
3        2        1      0           0
4        2        0      1           2
5        2        1      0           0
2 / 2
result -= 1.0*log2(1.0)   [0.0]
0 / 2
0 / 2
0 / 2
Info D_1 = 0.0
0 / 1
0 / 1
1 / 1
result -= 1.0*log2(1.0)   [0.0]
0 / 1
Info D_0 = 0.0
Gain(Parents) = 0.9182958340544896
2 / 2
result -= 1.0*log2(1.0)   [0.0]
0 / 2
0 / 2
0 / 2
Info D_0 = 0.0
0 / 1
0 / 1
1 / 1
result -= 1.0*log2(1.0)   [0.0]
0 / 1
Info D_1 = 0.0
Gain(Money) = 0.9182958340544896
best feature for split is Parents

In [208]:
df[(df['Weather']==1) & (df['Parents']==0)]

   Weather  Parents  Money  prediction
6        1        0      0           0
7        1        0      1           3

In [210]:
find_opt_attr(df[(df['Weather']==1) & (df['Parents']==0)])

1 / 2
result -= 0.5*log2(0.5)   [-1.0]
0 / 2
0 / 2
1 / 2
result -= 0.5*log2(0.5)   [-1.0]
Info D_1 = 1.0
Gain(Weather) = 0.0
1 / 2
result -= 0.5*log2(0.5)   [-1.0]
0 / 2
0 / 2
1 / 2
result -= 0.5*log2(0.5)   [-1.0]
Info D_0 = 1.0
Gain(Parents) = 0.0
1 / 1
result -= 1.0*log2(1.0)   [0.0]
0 / 1
0 / 1
0 / 1
Info D_0 = 0.0
0 / 1
0 / 1
0 / 1
1 / 1
result -= 1.0*log2(1.0)   [0.0]
Info D_1 = 0.0
Gain(Money) = 1.0
best feature for split is Money

'Money'

### HW1

In [249]:
df = pd.read_csv('hw1_dataset2.csv') 
df

    Gender  fbs  slope  prediction
0        1    1      3           0
1        1    0      2           2
2        1    0      2           1
3        1    0      3           0
4        0    0      1           0
..     ...  ...    ...         ...
95       1    0      1           1
96       1    0      2           2
97       0    0      2           3
98       1    0      1           0
99       1    0      1           0

[100 rows x 4 columns]

In [250]:
find_opt_attr(df)

entropy:  - 0.57*log2(0.57) - 0.19*log2(0.19) - 0.1*log2(0.1) - 0.1*log2(0.1) - 0.04*log2(0.04) = 1.7676170351690683


 - 0.479*log2(0.479)) - 0.254*log2(0.254)) - 0.127*log2(0.127)) - 0.099*log2(0.099))
Info D_1 = 1.717881803245932
 - 0.793*log2(0.793)) - 0.034*log2(0.034)) - 0.034*log2(0.034)) - 0.103*log2(0.103))
Info D_0 = 0.9388501852447328
1.768- 71 / 100 * 1.718- 29 / 100 * 0.939
Gain(Gender) = 0.27565440114348405


 - 0.615*log2(0.615)) - 0.077*log2(0.077)) - 0.154*log2(0.154)) - 0.154*log2(0.154))
Info D_1 = 1.5465935642949382
 - 0.563*log2(0.563)) - 0.207*log2(0.207)) - 0.092*log2(0.092)) - 0.092*log2(0.092))
Info D_0 = 1.5699411237682486
1.768- 13 / 100 * 1.547- 87 / 100 * 1.570
Gain(fbs) = 0.20071109413235


 - 0.545*log2(0.545)) - 0.182*log2(0.182)) - 0.091*log2(0.091)) - 0.182*log2(0.182))
Info D_3 = 1.6858157091530304
 - 0.308*log2(0.308)) - 0.256*log2(0.256)) - 0.179*log2(0.179)) - 0.154*log2(0.154))
Info D_2 = 1.8868971088184876
 - 0.780*log2(0.780)) - 0.140*log2(0.140)) - 0.040*log2(0.040)) - 0.040*log2(0.040))
Info D_1 = 1.0482127699741066
1.768- 11 / 100 * 1.686- 39 / 100 * 1.887- 50 / 100 * 1.048
Gain(slope) = 0.3221810497359714
best feature for split is slope

'slope'

In [261]:
df['prediction'].value_counts().rename_axis('values').to_frame('counts')

        counts
values
0           57
1           19
2           10
3           10
4            4

In [284]:
child1 = df.copy(deep=True)
child1 = child1[child1['slope']==1]

In [285]:
child1.drop(['slope'], axis=1, inplace=True)
child1.shape[1]

    Gender  fbs  prediction
4        0    0           0
5        1    0           0
7        0    0           0
13       1    0           0
14       1    1           0
15       1    0           0
17       1    0           0
18       0    0           0
19       1    0           0
21       0    1           0
23       1    0           3
26       0    0           0
28       1    0           0
30       0    0           0
31       1    1           2
32       1    0           1
34       1    0           0
35       1    0           0
41       1    0           0
42       0    0           0
43       1    1           0
44       0    0           1
46       1    0           0
48       0    1           0
50       0    0           0
51       1    0           0
52       1    0           2
53       1    0           0
54       1    0           1
57       1    0           1
59       1    0           0
63       0    1           0
67       1    0           0
70       0    0           0
73       1    0           1
74       1    0           1
75       0    0           0
77       0    0           0
79       1    0           3
82       1    0           0
84       1    0           0
85       1    0           0
86       1    0           0
87       0    0           0
88       0    0           0
89       0    0           0
94       0    0           0
95       1    0           1
98       1    0           0
99       1    0           0

In [287]:
child1['prediction'].value_counts().rename_axis('values').to_frame('counts')

        counts
values
0           39
1            7
2            2
3            2

In [288]:
find_opt_attr(child1)

entropy:  - 0.78*log2(0.78) - 0.14*log2(0.14) - 0.04*log2(0.04) - 0.04*log2(0.04) = 1.0482127699741066


 - 0.944*log2(0.944)) - 0.056*log2(0.056))
Info D_0 = 0.3095434291503252
 - 0.688*log2(0.688)) - 0.188*log2(0.188)) - 0.062*log2(0.062)) - 0.062*log2(0.062))
Info D_1 = 1.3244602933016414
1.048- 18 / 50 * 0.310- 32 / 50 * 1.324
Gain(Gender) = 0.08912254776693906


 - 0.773*log2(0.773)) - 0.159*log2(0.159)) - 0.023*log2(0.023)) - 0.045*log2(0.045))
Info D_0 = 1.0361311400710524
 - 0.833*log2(0.833)) - 0.167*log2(0.167))
Info D_1 = 0.6500224216483541
1.048- 44 / 50 * 1.036- 6 / 50 * 0.650
Gain(fbs) = 0.05841467611377796
best feature for split is Gender

'Gender'

In [293]:
child2 = df.copy(deep=True)
child2 = child2[child2['slope']==2]

child2.drop(['slope'], axis=1, inplace=True)
child2.shape[0]

3

In [294]:
child2['prediction'].value_counts().rename_axis('values').to_frame('counts')

        counts
values
0           12
1           10
2            7
3            6
4            4

In [296]:
find_opt_attr(child2)

entropy:  - 0.3076923076923077*log2(0.3076923076923077) - 0.2564102564102564*log2(0.2564102564102564) - 0.1794871794871795*log2(0.1794871794871795) - 0.15384615384615385*log2(0.15384615384615385) - 0.10256410256410256*log2(0.10256410256410256) = 2.223861438958205


 - 0.250*log2(0.250)) - 0.312*log2(0.312)) - 0.188*log2(0.188)) - 0.156*log2(0.156))
Info D_1 = 1.8956657366363323
 - 0.571*log2(0.571)) - 0.143*log2(0.143)) - 0.143*log2(0.143))
Info D_0 = 1.263447076049375
2.224- 32 / 39 * 1.896- 7 / 39 * 1.263
Gain(Gender) = 0.44167084652978833


 - 0.314*log2(0.314)) - 0.286*log2(0.286)) - 0.171*log2(0.171)) - 0.114*log2(0.114))
Info D_0 = 1.8349991362023752
 - 0.250*log2(0.250)) - 0.250*log2(0.250)) - 0.500*log2(0.500))
Info D_1 = 1.5
2.224- 35 / 39 * 1.835- 4 / 39 * 1.500
Gain(fbs) = 0.4232211885201761
best feature for split is Gender

'Gender'